/*副标题*/
.section-heading + .section-sub-heading {
    color: #9ba3af;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;
    margin-top: -50px;
    text-align: center;
}
.value .section-sub-heading {
    color: #f5f7fa;
}
/*其他*/
.articleList, .articleDetail {
    margin: 30px auto 0;
}
.container {
    margin: 0 auto;
}
@media only screen and (min-width: 961px) {
.container {
    width: 960px;
}
.menubox ul {
    margin-top: 60px;
}
}
@media only screen and (max-width: 767px) {
.container {
    padding: 0 7px;
    width: 100%;
}
.banner, .banner > img {
    height: 150px;
    width: 100%;
}
.header {
    padding-top: 15px;
    width: 300px;
}
.logo, .logo img {
    height: 80px;
    width: 80px;
}
.logoTheme h1 {
    font-size: 18px;
    font-weight: 100;
    margin: 8px 0;
}
.article {
    margin-bottom: 15px;
}
.articleBody {
    padding: 10px;
}
.articleFeed {
    font-size: 15px;
    height: 150px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.articleFeed p {
    font-size: 15px;
    line-height: 1.6em;
}
.articleTags {
    display: none;
}
.articleFooter {
    padding: 5px 10px;
}
.main-footer {
    margin-top: 10px;
}
.pagination {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.copyright {
    text-align: center;
}
.articleHeader span {
    font-size: 13px;
    padding: 2px 8px;
    top: 20px;
    width: auto;
}
.articleDetail img {
    height: auto;
    max-width: 100%;
}
.articleContent .title {
    color: #555;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.logoTheme h3, .articleThumb, .articleStatu li:nth-child(1), .articleStatu li:nth-child(3), .copyright span:nth-child(2) {
    display: none;
}
.cate-Div {
    display: none !important;
}
.downBox ul li a {
    font-weight: normal;
    padding: 0;
}
.error404 {
    background: rgba(0, 0, 0, 0) url("images/m404.jpg") no-repeat scroll center center;
}
}
/*article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}*/
.article {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
.container {
    padding: 0 7px;
    width: 100%;
}
.banner, .banner > img {
    height: 150px;
    width: 100%;
}
.header {
    padding-top: 15px;
    width: 300px;
}
.logo, .logo img {
    height: 80px;
    width: 80px;
}
.logoTheme h1 {
    font-size: 18px;
    font-weight: 100;
    margin: 8px 0;
}
.article {
    margin-bottom: 15px;
}
.articleBody {
    padding: 10px;
}
.articleFeed {
    font-size: 15px;
    height: 150px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.articleFeed p {
    font-size: 15px;
    line-height: 1.6em;
}
.articleTags {
    display: none;
}
.articleFooter {
    padding: 5px 10px;
}
.main-footer {
    margin-top: 10px;
}
.pagination {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.copyright {
    text-align: center;
}
.articleHeader span {
    font-size: 13px;
    padding: 2px 8px;
    top: 20px;
    width: auto;
}
.articleDetail img {
    height: auto;
    max-width: 100%;
}
.articleContent .title {
    color: #555;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.logoTheme h3, .articleThumb, .articleStatu li:nth-child(1), .articleStatu li:nth-child(3), .copyright span:nth-child(2) {
    display: none;
}
.cate-Div {
    display: none !important;
}
.downBox ul li a {
    font-weight: normal;
    padding: 0;
}
.error404 {
    background: rgba(0, 0, 0, 0) url("images/m404.jpg") no-repeat scroll center center;
}
}
.articleHeader {
    padding: 15px 0;
    position: relative;
}
.articleHeader span {
    border-radius: 100px 0 0 100px;
    color: #fff;
    display: inline-block;
    padding: 6px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 15px;
}
.articleHeader span i {
    margin-right: 5px;
}
.articleHeader .tag-Div {
    background: #e79852 none repeat scroll 0 0;
}
.articleHeader .cate-Div {
    background: #e79852 none repeat scroll 0 0;
}
.articleBody {
    background: #f9f9f9 none repeat scroll 0 0;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    color: #4d4d4d;
    padding: 15px;
    position: relative;
}
.articleThumb {
    float: left;
    height: 150px;
    overflow: hidden;
    width: 300px;
}
.articleThumb img {
    height: 150px;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.articleThumb img:hover {
    transform: scale(1.5);
}
.articleFeed {
    margin-left: 320px;
}
.articleFeed p {
    font-size: 16px;
    line-height: 1.7em;
}
@media (min-width: 768px) and (max-width: 960px) {
.articleFeed p {
    font-size: 14px;
    line-height: 1.6em;
}
}
/*foot*/


.row1 {
    margin-left: -15px;
    margin-right: -15px;
}
.row1::after, .row1::before {
    content: " ";
    display: table;
}
.row1::after {
    clear: both;
}
.product-menu .row1 {
    margin: 0;
}
.product-menu .row1 > * {
    border-left: 1px solid #e5e5e5;
    display: table-cell;
    float: none;
}
.product-menu .row1 > *:first-child {
    border-left: medium none transparent;
}
.section-half .row1 {
    margin-bottom: 20px;
}
.section-half-info .row1 {
    margin-bottom: 20px;
}
.section-half .row1 {
    margin-bottom: 20px;
}
@media (min-width: 768px) {
.products .row1 {
    align-items: stretch;
    display: flex;
}
.products .row1 .col-sm-4 {
    align-self: stretch;
    display: inline-flex;
}
.products .row1 .card {
    padding-left: 20px;
    padding-right: 20px;
}
.products .row1 .card .card-body {
    margin-bottom: 30px;
}
.products .row1 .card .card-footer {
    align-self: flex-end;
    bottom: 0;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6-1, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
@media (max-width: 767px) {
section .col-xs-12 {
    padding-left: 30px;
    padding-right: 30px;
}
}
@media (min-width: 768px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6-1, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-sm-1 {
    width: 8.33333%;
}
.col-sm-2 {
    width: 16.6667%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-4 {
    width: 33.3333%;
}
.col-sm-5 {
    width: 41.6667%;
}
.col-sm-6-1 {
    width: 50%;
}
.col-sm-7 {
    width: 58.3333%;
}
.col-sm-8 {
    width: 66.6667%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-10 {
    width: 83.3333%;
}
.col-sm-11 {
    width: 91.6667%;
}
.col-sm-12 {
    width: 100%;
}
.col-sm-pull-0 {
    right: auto;
}
.col-sm-pull-1 {
    right: 8.33333%;
}
.col-sm-pull-2 {
    right: 16.6667%;
}
.col-sm-pull-3 {
    right: 25%;
}
.col-sm-pull-4 {
    right: 33.3333%;
}
.col-sm-pull-5 {
    right: 41.6667%;
}
.col-sm-pull-6 {
    right: 50%;
}
.col-sm-pull-7 {
    right: 58.3333%;
}
.col-sm-pull-8 {
    right: 66.6667%;
}
.col-sm-pull-9 {
    right: 75%;
}
.col-sm-pull-10 {
    right: 83.3333%;
}
.col-sm-pull-11 {
    right: 91.6667%;
}
.col-sm-pull-12 {
    right: 100%;
}
.col-sm-push-0 {
    left: auto;
}
.col-sm-push-1 {
    left: 8.33333%;
}
.col-sm-push-2 {
    left: 16.6667%;
}
.col-sm-push-3 {
    left: 25%;
}
.col-sm-push-4 {
    left: 33.3333%;
}
.col-sm-push-5 {
    left: 41.6667%;
}
.col-sm-push-6 {
    left: 50%;
}
.col-sm-push-7 {
    left: 58.3333%;
}
.col-sm-push-8 {
    left: 66.6667%;
}
.col-sm-push-9 {
    left: 75%;
}
.col-sm-push-10 {
    left: 83.3333%;
}
.col-sm-push-11 {
    left: 91.6667%;
}
.col-sm-push-12 {
    left: 100%;
}
.col-sm-offset-0 {
    margin-left: 0;
}
.col-sm-offset-1 {
    margin-left: 8.33333%;
}
.col-sm-offset-2 {
    margin-left: 16.6667%;
}
.col-sm-offset-3 {
    margin-left: 25%;
}
.col-sm-offset-4 {
    margin-left: 33.3333%;
}
.col-sm-offset-5 {
    margin-left: 41.6667%;
}
.col-sm-offset-6 {
    margin-left: 50%;
}
.col-sm-offset-7 {
    margin-left: 58.3333%;
}
.col-sm-offset-8 {
    margin-left: 66.6667%;
}
.col-sm-offset-9 {
    margin-left: 75%;
}
.col-sm-offset-10 {
    margin-left: 83.3333%;
}
.col-sm-offset-11 {
    margin-left: 91.6667%;
}
.col-sm-offset-12 {
    margin-left: 100%;
}
}
@media (min-width: 768px) {
.partners .col-sm-2 {
    height: 72px;
    position: relative;
    width: 20%;
}
.partners img {
    left: 50%;
    max-height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
}
.collapse {
    display: none;
    visibility: visible;
}
.collapse.in {
    display: block;
}
tr.collapse.in {
    display: table-row;
}
tbody.collapse.in {
    display: table-row-group;
}
@media (min-width: 768px) {
.navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
    width: auto;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
}
.yamm .collapse, .yamm .dropdown, .yamm .dropup, .yamm .nav {
    position: static;
}
.container-main {
    margin: 0 auto;
}
.container-fluid::after, .container-fluid::before {
    content: " ";
    display: table;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 768px) {
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
}
}
@media (min-width: 768px) {
.navbar > .container-fluid .navbar-brand, .navbar > .container .navbar-brand {
    margin-left: -15px;
}
}
.container-fluid .jumbotron, .container .jumbotron {
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
}
.jumbotron .container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
.jumbotron {
    padding-bottom: 48px;
    padding-top: 48px;
}
.container-fluid .jumbotron, .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
}
.jumbotron .h1, .jumbotron h1 {
    font-size: 63px;
}
}
.yamm .container {
    position: relative;
}
.container .section-half {
    padding-left: 20px;
    padding-right: 20px;
}
.value .container::before {
    background: rgba(0, 0, 0, 0) url("//qiniu-daowww-prod.daocloud.io/value-background.4019dd309211cf02a687d205811e2591.png") no-repeat scroll center bottom / cover ;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.investors .container {
    position: relative;
}
.registration .container {
    position: relative;
    z-index: 7;
}
.workflow .container {
    border-bottom: 1px solid #d0d4d9;
    border-top: 1px solid #d0d4d9;
    padding-bottom: 60px;
    padding-top: 60px;
}
.turnover .container {
    border-bottom: 1px solid #d0d4d9;
    padding-bottom: 60px;
    padding-top: 60px;
}
.datacenter .container {
    border-bottom: 1px solid #d0d4d9;
    padding-bottom: 60px;
    padding-top: 60px;
}
.customer-value .container {
    border-bottom: 1px solid #d0d4d9;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer1 .list-header a {
    color: #fff;
    text-decoration: none;
}
/*from 道客云*/
/*# sourceMappingURL=bootstrap.css.map */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container::before, .container::after {
    content: " ";
    display: table;
}
.container::after {
    clear: both;
}
@media (min-width: 768px) {
.container {
    width: 750px;
}
}
@media (min-width: 992px) {
.container {
    width: 970px;
}
}
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-fluid::before, .container-fluid::after {
    content: " ";
    display: table;
}
.container-fluid::after {
    clear: both;
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 768px) {
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
}
}
@media (min-width: 768px) {
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 6px;
}
.jumbotron .container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
.jumbotron {
    padding: 48px 0;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
}
.jumbotron h1, .jumbotron .h1 {
    font-size: 63px;
}
}
.resp-tabs-container {
    background-color: #fff;
    clear: left;
    padding: 0;
}
.resp-vtabs .resp-tabs-container {
    background-color: #fff;
    border-left: 1px solid #ebebeb;
    border-radius: 4px;
    clear: none;
    float: left;
    min-height: 250px;
    padding: 0;
    width: 68%;
}
@media only screen and (max-width: 768px) {
ul.resp-tabs-list {
    display: none;
}
h2.resp-accordion {
    display: block;
}
.resp-tab-content {
    border: 1px solid #ebebeb;
}
.resp-vtabs .resp-tab-content {
    border: 1px solid #ebebeb;
}
.resp-tabs-container .resp-accordion.resp-tab-active {
    border-bottom: medium none !important;
    border-top: medium none !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.resp-tabs-container .resp-accordion.resp-tab-active:nth-of-type(1) {
    border-top: 1px solid #ebebeb !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.resp-tab-content {
    box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.05) inset;
}
.resp-vtabs .resp-tabs-container {
    border: medium none;
    clear: none;
    float: none;
    min-height: 100px;
    width: 100%;
}
.resp-accordion-closed {
    display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #ebebeb !important;
}
}
.mfp-container {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 0 8px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.mfp-container::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.mfp-align-top .mfp-container::before {
    display: none;
}
@media all and (max-width: 900px) {
.mfp-arrow {
    transform: scale(0.75);
}
.mfp-arrow-left {
    transform-origin: 0 50% 0;
}
.mfp-arrow-right {
    transform-origin: 100% 50% 0;
}
.mfp-container {
    padding-left: 6px;
    padding-right: 6px;
}
}
.mfp-ie7 .mfp-container {
    padding: 0;
}

#op-wrap.aside-active #op-aside {
    right: 0;
    z-index: 20000;
}
@media screen and (max-width: 640px) {
#op-aside {
    width: 80%;
}
#op-wrap.aside-active #op-wrap-mask {
    left: -80%;
    right: auto;
}
}
#op-wrap.aside-active #op-aside.op-user-login {
    background: #efefef none repeat scroll 0 0;
}
#op-content, #op-content .op-alone .op-centerbox .next:hover::before, #op-wrap, #op-wrap-mask, .op-top-header, .op-top-header.top0 .op-top-box, body, html {
    width: 100%;
}
#op-wrap {
    overflow: hidden;
    position: relative;
}
#op-wrap.fixed, .m-nav-show #op-wrap {
    position: fixed;
}
#op-wrap-mask {
    background: #000 none repeat scroll 0 0;
    height: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.5s ease 0s, height 0.1s ease 0.5s;
    z-index: 8;
}
#op-wrap-mask.show {
    display: block;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.5s ease 0s;
}
.m-nav-show #op-wrap-mask {
    opacity: 1;
    z-index: 9;
}
#op-wrap.aside-active #op-content {
    left: -430px;
}
#op-wrap.aside-active #op-wrap-mask {
    opacity: 1;
    right: 450px;
    z-index: 20000;
}
#op-wrap.aside-active .op-top-header {
    left: -20px;
}
#op-wrap.aside-active .op-top-header.fixed {
    left: -450px;
}
.ie8 #op-wrap.aside-active #op-wrap-mask {
    background: rgba(0, 0, 0, 0) url("../../img/home/mask.png") repeat scroll 0 0;
}

//注释

@media screen and (max-width: 1200px) {
.top-recommend li h4 {
    font-size: 20px;
}
.bottom-promos .inner, .services .inner {
    padding: 0 20px;
}
.bottom-promos .tit-desc-panel {
    min-height: 110px;
}
.bottom-promos .tit-desc-panel h4 {
    font-size: 16px;
}
.bottom-promos .tit-desc-panel p {
    font-size: 12px;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}

.user-ship-options .inner {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 7px rgba(6, 0, 1, 0.2);
    width: 130px;
}

.user-cart-infos .inner {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 7px rgba(6, 0, 1, 0.2);
    padding: 20px;
}

.user-cart-infos .inner.no-goods-text {
    color: #999;
    display: none;
    font-size: 14px;
    text-align: center;
}

.user-cart-infos.no-goods .inner.no-goods-text {
    color: #999;
    display: block;
    font-size: 14px;
    text-align: center;
}

.op-mobile-login, .user-cart-infos.no-goods .inner.has-goods {
    display: none;
}

.locale-options {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    height: 60px;
    padding: 0 15px;
    top: -60px;
    width: 216px;
    z-index: 3;
}

.locale-options a {
    color: #666;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    text-align: center;
    width: 90px;
}

.locale-options a:hover {
    background: #dcdcdc none repeat scroll 0 0;
}

.float-l {
    float: left;
}
.float-r, .op-r-btn1s {
    float: right;
}

@media screen and (max-width: 767px) {
#op-nav-box, .op-top-nav {
    overflow: hidden;
    width: 100%;
}
#op-nav-box {
    bottom: 80px;
    padding: 0;
    position: absolute;
    transition: transform 0.3s ease 0s;
    z-index: 9;
}
.op-top-menu {
    height: auto;
    margin-left: 0;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
}
#op-nav-box.fold {
    transition: transform 0.5s ease 0.2s;
}
#op-nav-box.moveTotop .op-top-menu {
    opacity: 0;
    transition: opacity 0.3s ease 0s;
}
#op-nav-box.moveTotop .nav-arrow-down-wrap {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease 0.2s;
}
.op-top-nav {
    background: #f3f3f3 none repeat scroll 0 0;
    left: 0;
    top: 0;
}
.op-top-nav .inner {
    padding: 20px 20px 0;
}
.op-top-menu li {
    border-bottom: 1px solid #e3e3e3;
    float: none;
    height: auto;
    line-height: 2;
    transform: translate3d(0px, 0px, 0px);
    width: 100%;
}
.op-top-menu li:last-child {
    border-bottom: medium none;
}
.op-top-menu .op-top-menu-lia {
    height: 44px;
    line-height: 44px;
    text-align: left;
}
.op-top-search {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 50px;
    position: relative;
    top: -2px;
    visibility: visible;
    z-index: 3;
}
.op-top-search .input-box {
    height: auto;
    margin-left: 0;
    opacity: 1;
    padding-left: 0;
}
.op-search-submit {
    left: auto;
    margin-top: 12px;
    right: 10px;
    top: 0;
}
.op-search-input {
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.op-r-btn1s {
    background: #fff none repeat scroll 0 0;
    width: 100%;
}
.op-r-btn1s .i-search {
    display: none;
}
.op-r-btn1s .i-user span {
    background: rgba(0, 0, 0, 0) url("../../img/common/icons/icon_person@2x.png") no-repeat scroll center center / contain ;
}
.op-r-btn1s .i-cart .icon-bg {
    background: rgba(0, 0, 0, 0) url("../../img/common/icons/icon_shopcart@2x.png") no-repeat scroll center center / contain ;
}
.op-r-btn1s .i-menu {
    background: rgba(0, 0, 0, 0) url("../../img/common/icons/icon_menu@2x.png") no-repeat scroll center center / contain ;
    display: inline-block;
}
/*a标签的问题 现在换成h3*/
/*订阅按钮问题*/
@media print {
*, *::after, *::before {
    background: transparent none repeat scroll 0 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
}
a, a:visited {
    text-decoration: underline;
}
a[href]::after {
    content: " (" attr(href) ")";
}
abbr[title]::after {
    content: " (" attr(title) ")";
}
a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "";
}
blockquote, pre {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
img, tr {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
h2, h3, p {
}
h2, h3 {
    page-break-after: avoid;
}
.navbar {
    display: none;
}
.btn1 > .caret, .dropup > .btn1 > .caret {
    border-top-color: #000 !important;
}
.label {
    border: 1px solid #000;
}
.table {
    border-collapse: collapse !important;
}
.table td, .table th {
    background-color: #fff !important;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #ddd !important;
}
}

@media not all {
input.form-control[type="date"], input.form-control[type="datetime-local"], input.form-control[type="month"], input.form-control[type="time"] {
    line-height: 37px;
}
.input-group-sm > .input-group-btn1 > input.btn1[type="date"], .input-group-sm > .input-group-btn1 > input.btn1[type="datetime-local"], .input-group-sm > .input-group-btn1 > input.btn1[type="month"], .input-group-sm > .input-group-btn1 > input.btn1[type="time"], .input-group-sm > input.form-control[type="date"], .input-group-sm > input.input-group-addon[type="date"], .input-group-sm > input.form-control[type="datetime-local"], .input-group-sm > input.input-group-addon[type="datetime-local"], .input-group-sm > input.form-control[type="month"], .input-group-sm > input.input-group-addon[type="month"], .input-group-sm > input.form-control[type="time"], .input-group-sm > input.input-group-addon[type="time"], .input-group-sm input[type="date"], .input-group-sm input[type="datetime-local"], .input-group-sm input[type="month"], .input-group-sm input[type="time"], input.input-sm[type="date"], input.input-sm[type="datetime-local"], input.input-sm[type="month"], input.input-sm[type="time"] {
    line-height: 30px;
}
.input-group-lg > .input-group-btn1 > input.btn1[type="date"], .input-group-lg > .input-group-btn1 > input.btn1[type="datetime-local"], .input-group-lg > .input-group-btn1 > input.btn1[type="month"], .input-group-lg > .input-group-btn1 > input.btn1[type="time"], .input-group-lg > input.form-control[type="date"], .input-group-lg > input.input-group-addon[type="date"], .input-group-lg > input.form-control[type="datetime-local"], .input-group-lg > input.input-group-addon[type="datetime-local"], .input-group-lg > input.form-control[type="month"], .input-group-lg > input.input-group-addon[type="month"], .input-group-lg > input.form-control[type="time"], .input-group-lg > input.input-group-addon[type="time"], .input-group-lg input[type="date"], .input-group-lg input[type="datetime-local"], .input-group-lg input[type="month"], .input-group-lg input[type="time"], input.input-lg[type="date"], input.input-lg[type="datetime-local"], input.input-lg[type="month"], input.input-lg[type="time"] {
    line-height: 46px;
}
}

.form-control-static.input-lg, .form-control-static.input-sm, .input-group-lg > .form-control-static.form-control, .input-group-lg > .form-control-static.input-group-addon, .input-group-lg > .input-group-btn1 > .form-control-static.btn1, .input-group-sm > .form-control-static.form-control, .input-group-sm > .form-control-static.input-group-addon, .input-group-sm > .input-group-btn1 > .form-control-static.btn1 {
    padding-left: 0;
    padding-right: 0;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn1 > .btn1, .input-sm {
    border-radius: 3px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
}

.input-group-sm > .input-group-btn1 > select.btn1, .input-group-sm > select.form-control, .input-group-sm > select.input-group-addon, select.input-sm {
    height: 30px;
    line-height: 30px;
}

.input-group-sm > .input-group-btn1 > select.btn1[multiple], .input-group-sm > .input-group-btn1 > textarea.btn1, .input-group-sm > select.form-control[multiple], .input-group-sm > select.input-group-addon[multiple], .input-group-sm > textarea.form-control, .input-group-sm > textarea.input-group-addon, select.input-sm[multiple], textarea.input-sm {
    height: auto;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn1 > .btn1, .input-lg {
    border-radius: 6px;
    font-size: 18px;
    height: 46px;
    line-height: 1.33333;
    padding: 10px 16px;
}

.input-group-lg > .input-group-btn1 > select.btn1, .input-group-lg > select.form-control, .input-group-lg > select.input-group-addon, select.input-lg {
    height: 46px;
    line-height: 46px;
}

.input-group-lg > .input-group-btn1 > select.btn1[multiple], .input-group-lg > .input-group-btn1 > textarea.btn1, .input-group-lg > select.form-control[multiple], .input-group-lg > select.input-group-addon[multiple], .input-group-lg > textarea.form-control, .input-group-lg > textarea.input-group-addon, select.input-lg[multiple], textarea.input-lg {
    height: auto;
}

.form-group-lg .form-control + .form-control-feedback, .input-group-lg + .form-control-feedback, .input-group-lg > .form-control + .form-control-feedback, .input-group-lg > .input-group-addon + .form-control-feedback, .input-group-lg > .input-group-btn1 > .btn1 + .form-control-feedback, .input-lg + .form-control-feedback {
    height: 46px;
    line-height: 46px;
    width: 46px;
}

.form-group-sm .form-control + .form-control-feedback, .input-group-sm + .form-control-feedback, .input-group-sm > .form-control + .form-control-feedback, .input-group-sm > .input-group-addon + .form-control-feedback, .input-group-sm > .input-group-btn1 > .btn1 + .form-control-feedback, .input-sm + .form-control-feedback {
    height: 30px;
    line-height: 30px;
    width: 30px;
}

@media (min-width: 768px) {
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.form-inline .form-control-static {
    display: inline-block;
}
.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}
.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn1 {
    width: auto;
}
.form-inline .input-group > .form-control {
    width: 100%;
}
.form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .checkbox, .form-inline .radio {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
}
.form-inline .checkbox label, .form-inline .radio label {
    padding-left: 0;
}
.form-inline .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"] {
    margin-left: 0;
    position: relative;
}
.form-inline .has-feedback .form-control-feedback {
    top: 0;
}
}

.btn1 {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.65;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn1.active.focus, .btn1.active:focus, .btn1.focus, .btn1.focus:active, .btn1:active:focus, .btn1:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.btn1.focus, .btn1:focus, .btn1:hover {
    color: #333;
    text-decoration: none;
}

.btn1.active, .btn1:active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}

.btn1.disabled, .btn1[disabled], fieldset[disabled] .btn1 {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
}

a.btn1.disabled, fieldset[disabled] a.btn1 {
    pointer-events: none;
}

.btn1-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.btn1-default.focus, .btn1-default:focus {
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    color: #333;
}

.btn1-default.active, .btn1-default:active, .btn1-default:hover, .open > .btn1-default.dropdown-toggle {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}

.btn1-default.active.focus, .btn1-default.active:focus, .btn1-default.active:hover, .btn1-default.focus:active, .btn1-default:active:focus, .btn1-default:active:hover, .open > .btn1-default.dropdown-toggle.focus, .open > .btn1-default.dropdown-toggle:focus, .open > .btn1-default.dropdown-toggle:hover {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    color: #333;
}

.btn1-default.active, .btn1-default:active, .open > .btn1-default.dropdown-toggle {
    background-image: none;
}

.btn1-default.disabled.focus, .btn1-default.disabled:focus, .btn1-default.disabled:hover, .btn1-default.focus[disabled], .btn1-default[disabled]:focus, .btn1-default[disabled]:hover, fieldset[disabled] .btn1-default.focus, fieldset[disabled] .btn1-default:focus, fieldset[disabled] .btn1-default:hover {
    background-color: #fff;
    border-color: #ccc;
}

.btn1-default .badge {
    background-color: #333;
    color: #fff;
}

.btn1-primary {
    background-color: #008ad3;
    border-color: #0079ba;
    color: #fff;
}

.btn1-primary.focus, .btn1-primary:focus {
    background-color: #0069a0;
    border-color: #00263a;
    color: #fff;
}

.btn1-primary.active, .btn1-primary:active, .btn1-primary:hover, .open > .btn1-primary.dropdown-toggle {
    background-color: #0069a0;
    border-color: #00517c;
    color: #fff;
}

.btn1-primary.active.focus, .btn1-primary.active:focus, .btn1-primary.active:hover, .btn1-primary.focus:active, .btn1-primary:active:focus, .btn1-primary:active:hover, .open > .btn1-primary.dropdown-toggle.focus, .open > .btn1-primary.dropdown-toggle:focus, .open > .btn1-primary.dropdown-toggle:hover {
    background-color: #00517c;
    border-color: #00263a;
    color: #fff;
}
.btn1-primary.active, .btn1-primary:active, .open > .btn1-primary.dropdown-toggle {
    background-image: none;
}
.btn1-primary.disabled.focus, .btn1-primary.disabled:focus, .btn1-primary.disabled:hover, .btn1-primary.focus[disabled], .btn1-primary[disabled]:focus, .btn1-primary[disabled]:hover, fieldset[disabled] .btn1-primary.focus, fieldset[disabled] .btn1-primary:focus, fieldset[disabled] .btn1-primary:hover {
    background-color: #008ad3;
    border-color: #0079ba;
}
.btn1-primary .badge {
    background-color: #fff;
    color: #008ad3;
}
.btn1-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn1-success.focus, .btn1-success:focus {
    background-color: #449d44;
    border-color: #255625;
    color: #fff;
}
.btn1-success.active, .btn1-success:active, .btn1-success:hover, .open > .btn1-success.dropdown-toggle {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.btn1-success.active.focus, .btn1-success.active:focus, .btn1-success.active:hover, .btn1-success.focus:active, .btn1-success:active:focus, .btn1-success:active:hover, .open > .btn1-success.dropdown-toggle.focus, .open > .btn1-success.dropdown-toggle:focus, .open > .btn1-success.dropdown-toggle:hover {
    background-color: #398439;
    border-color: #255625;
    color: #fff;
}
.btn1-success.active, .btn1-success:active, .open > .btn1-success.dropdown-toggle {
    background-image: none;
}
.btn1-success.disabled.focus, .btn1-success.disabled:focus, .btn1-success.disabled:hover, .btn1-success.focus[disabled], .btn1-success[disabled]:focus, .btn1-success[disabled]:hover, fieldset[disabled] .btn1-success.focus, fieldset[disabled] .btn1-success:focus, fieldset[disabled] .btn1-success:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn1-success .badge {
    background-color: #fff;
    color: #5cb85c;
}
.btn1-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btn1-info.focus, .btn1-info:focus {
    background-color: #31b0d5;
    border-color: #1b6d85;
    color: #fff;
}
.btn1-info.active, .btn1-info:active, .btn1-info:hover, .open > .btn1-info.dropdown-toggle {
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}
.btn1-info.active.focus, .btn1-info.active:focus, .btn1-info.active:hover, .btn1-info.focus:active, .btn1-info:active:focus, .btn1-info:active:hover, .open > .btn1-info.dropdown-toggle.focus, .open > .btn1-info.dropdown-toggle:focus, .open > .btn1-info.dropdown-toggle:hover {
    background-color: #269abc;
    border-color: #1b6d85;
    color: #fff;
}
.btn1-info.active, .btn1-info:active, .open > .btn1-info.dropdown-toggle {
    background-image: none;
}
.btn1-info.disabled.focus, .btn1-info.disabled:focus, .btn1-info.disabled:hover, .btn1-info.focus[disabled], .btn1-info[disabled]:focus, .btn1-info[disabled]:hover, fieldset[disabled] .btn1-info.focus, fieldset[disabled] .btn1-info:focus, fieldset[disabled] .btn1-info:hover {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn1-info .badge {
    background-color: #fff;
    color: #5bc0de;
}
.btn1-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn1-warning.focus, .btn1-warning:focus {
    background-color: #ec971f;
    border-color: #985f0d;
    color: #fff;
}
.btn1-warning.active, .btn1-warning:active, .btn1-warning:hover, .open > .btn1-warning.dropdown-toggle {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}
.btn1-warning.active.focus, .btn1-warning.active:focus, .btn1-warning.active:hover, .btn1-warning.focus:active, .btn1-warning:active:focus, .btn1-warning:active:hover, .open > .btn1-warning.dropdown-toggle.focus, .open > .btn1-warning.dropdown-toggle:focus, .open > .btn1-warning.dropdown-toggle:hover {
    background-color: #d58512;
    border-color: #985f0d;
    color: #fff;
}
.btn1-warning.active, .btn1-warning:active, .open > .btn1-warning.dropdown-toggle {
    background-image: none;
}
.btn1-warning.disabled.focus, .btn1-warning.disabled:focus, .btn1-warning.disabled:hover, .btn1-warning.focus[disabled], .btn1-warning[disabled]:focus, .btn1-warning[disabled]:hover, fieldset[disabled] .btn1-warning.focus, fieldset[disabled] .btn1-warning:focus, fieldset[disabled] .btn1-warning:hover {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn1-warning .badge {
    background-color: #fff;
    color: #f0ad4e;
}
.btn1-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn1-danger.focus, .btn1-danger:focus {
    background-color: #c9302c;
    border-color: #761c19;
    color: #fff;
}
.btn1-danger.active, .btn1-danger:active, .btn1-danger:hover, .open > .btn1-danger.dropdown-toggle {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.btn1-danger.active.focus, .btn1-danger.active:focus, .btn1-danger.active:hover, .btn1-danger.focus:active, .btn1-danger:active:focus, .btn1-danger:active:hover, .open > .btn1-danger.dropdown-toggle.focus, .open > .btn1-danger.dropdown-toggle:focus, .open > .btn1-danger.dropdown-toggle:hover {
    background-color: #ac2925;
    border-color: #761c19;
    color: #fff;
}
.btn1-danger.active, .btn1-danger:active, .open > .btn1-danger.dropdown-toggle {
    background-image: none;
}
.btn1-danger.disabled.focus, .btn1-danger.disabled:focus, .btn1-danger.disabled:hover, .btn1-danger.focus[disabled], .btn1-danger[disabled]:focus, .btn1-danger[disabled]:hover, fieldset[disabled] .btn1-danger.focus, fieldset[disabled] .btn1-danger:focus, fieldset[disabled] .btn1-danger:hover {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn1-danger .badge {
    background-color: #fff;
    color: #d9534f;
}
.btn1-link {
    border-radius: 0;
    color: #00a3de;
    font-weight: 400;
}
.btn1-link, .btn1-link.active, .btn1-link:active, .btn1-link[disabled], fieldset[disabled] .btn1-link {
    background-color: transparent;
    box-shadow: none;
}
.btn1-link, .btn1-link:active, .btn1-link:focus, .btn1-link:hover {
    border-color: transparent;
}
.btn1-link:focus, .btn1-link:hover {
    background-color: transparent;
    color: #00a3de;
    text-decoration: underline;
}
.btn1-link[disabled]:focus, .btn1-link[disabled]:hover, fieldset[disabled] .btn1-link:focus, fieldset[disabled] .btn1-link:hover {
    color: #777;
    text-decoration: none;
}
.btn1-group-lg > .btn1, .btn1-lg {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
}
.btn1-group-sm > .btn1, .btn1-sm {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}
.btn1-group-xs > .btn1, .btn1-xs {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}
.btn1-block {
    display: block;
    width: 100%;
}
.btn1-block + .btn1-block {
    margin-top: 5px;
}
.input-group-btn1 {
    font-size: 0;
    white-space: nowrap;
}
/*修改*/
.btn1-blue, .btn1-blue:focus {
    background-color: #3890ff;
    border: 0 none;
    color: #fff;
    outline: medium none;
}
/*公司的备案*/

.section-center .section-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.section-center .section-inner::after, .section-center .section-inner::before {
    content: " ";
    display: table;
}
.section-center .section-inner::after {
    clear: both;
}
.section-center .section-inner .context {
    margin: 0 auto;
    max-width: 400px;
}

@media (max-width: 767px) {
.hidden-xs {
    display: none !important;
}
}
address {
    font-style: normal;
    line-height: 1.65;
    margin-bottom: 23px;
}

.footer1 .footer-copyright .address {
    padding-top: 6px;
}
/*a标签的修改*/
/*a:focus, a:hover {
    color: #00a3de;
    text-decoration: underline;
}*/

/*底部的自适应*/
.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}

.btn-icon {
    color: #fff;
    margin: 0 auto;
    padding: 6px 24px;
}

.btn-icon span {
    height: 16px;
    left: -2px;
    top: 3px;
    width: 16px;
}
.btn-icon span svg {
    fill: #fff;
    height: 16px;
    width: 16px;
}

.footer1.touch-links a .icon {
    height: 26px;
    width: auto;
}

.footer1 .icon {
    display: inline-block;
    fill: #ccc;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
    width: 16px;
}

.footer1 .icon, .footer .icon + span {
    vertical-align: middle;
}

.icon, .v-align {
    display: inline-block;
    vertical-align: middle;
}
.icon {
    fill: #ccc;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
    width: 16px;
}
.icon img {
    height: 100%;
    width: auto;
}

.icon + span {
    vertical-align: middle;
}

.list-inline, .list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}
.list-inline {
    margin-left: -5px;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
/*底部的左右对称*/
/*a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
  color: #2e2e2e;
  border-bottom: 0px solid #9ba3af;
}*/
/*.turnover {
    font-size: 16px;
    padding-bottom: 0;
    padding-top: 0;
}

.turnover .container {
    border-bottom: 1px solid #d0d4d9;
    padding-bottom: 60px;
    padding-top: 60px;
}*/
.fh5co-uppercase-heading-sm{
  color: #1f2126;
}
